body {
    font-family: sans-serif;
    background-color: rgb(233, 149, 220);
}

.container {
    width: 600px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    background-color: #beef98;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 20px;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} 

form p {
    margin-bottom: 10px;
}

form img {
    /* Adjust height as needed */
    height: 30px;
}

form button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
} 